{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<center><div class="reset-form">
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p><br>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="reset-button" value="{% trans 'RESET PASSWORD' %}" />
</form>
</div></center>
{% endblock %}


{# This is used by django.contrib.auth #}