{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<center><div class="registration-form">
<h2>Register for an Account</h2><br>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <br><input type="submit" class="registration-button" value="{% trans 'SUBMiT' %}" />
</form>
</div></center>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}