
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Graffiti Royale{% endblock %}</title>
        {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover.css">
        <link href="https://fonts.googleapis.com/css?family=Londrina+Sketch|Londrina+Solid" rel="stylesheet">       
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
    
    </head>
    
    <body>
        <header>
            <div class="banner">
             <div><i class="fas fa-spray-can fa-4x dim hvr-buzz-out"></i></div><a href="{% url 'homepage' %}" class="logo"><div><p>GRAFFiTi ROYALE</p></div></a>
                 <div>
                    <span>
                    {% if request.user.is_authenticated %}
                    <span>{{ request.user.username }}</span>
                    <a class="logout" href="{% url 'auth_logout' %}">Logout</a>
                    {% else %}
                    <a class="login head-link dim f2 lh-copy" href="{% url 'auth_login'%}?next={{request.path}}"><i class="fa fa-user fa-1x"></i>&nbspLOGiN</a>
                    {% endif %}
                    </span>
                </div>   
            </div>
        </header>
        <div class="footer"> </div>
    {% block content %}{% endblock %}

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/static/sw.js').then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>

</body>
</html>