
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Graffiti Royale{% endblock %}</title>
        {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover.css">
        <link href="https://fonts.googleapis.com/css?family=Londrina+Sketch|Londrina+Solid|Plaster" rel="stylesheet">       
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/gr.css' %}">
        
    
    </head>
    
    <body>
        <header>
            <div class="banner">
             <a href="{% url 'homepage' %}" class="logo dim"><div><p>GRAFFiTi ROYALE</p></div></a>
                 <div>
                    <span><a class="login head-link avenir b dim f2 lh-copy" href="{% url 'auth_login'%}?next={{request.path}}"><i class="fa fa-spray-can fa-1x hvr-buzz-out"></i>&nbspLOGiN</a></span>
                </div>   
            </div><br><br><br><br>
        </header>
        <div class="footer"> </div>
    {% block content %}{% endblock %}
</body>
</html>