
{% extends 'base.html' %}
{% load static %}
{% block title %}Graffiti Royale{% endblock %}

{% block content %}
<center><a class="head-link" href="{% url 'play' %}"><div class="avenir nav-option play f-subheadline lh-title hvr-bob hvr-glow"><i class="fas fa-spray-can"></i>&nbsp&nbspPLAY</div></a><br></center><br>
<center><a class="head-link" href=""><div class="avenir nav-option profile f-subheadline lh-title hvr-bob hvr-glow"><i class="fas fa-address-card"></i>&nbsp&nbspPROFiLE</div></a><br></center><br>
<center><a class="head-link" href="{% url 'tutorial' %}"><div class="avenir nav-option tutorial f-subheadline lh-title hvr-bob hvr-glow"><i class="fas fa-chalkboard-teacher"></i>&nbsp&nbspTUTORiAL</div></a><br></center>
{% endblock %}