<!DOCTYPE html>
<html lang="en">
<div class="rainbow">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Graffiti Royale{% endblock %}</title>
    {% block meta %}{% endblock %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link href="https://fonts.googleapis.com/css?family=Londrina+Sketch|Londrina+Solid" rel="stylesheet">
<link rel="manifest" href="{% static 'manifest.json' %}">       

</head>

<body class="playfield crosshair fieldlogo" id="playPage">
    
    <canvas width="4000" height="4000" id="drawMap"></canvas>
    <div class="username" data-username="{{ username }}"></div>
    {% load static %}
    <script src="{% static 'build/bundle.js' %}"></script>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register("sw.js", {scope: '/'}).then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>

</body>
</div>
</html>

