{% extends 'base.html' %}
{% block content %}
    <div id="waitingroom"></div>
    <div class="user_data" data-username="{{ username }}" data-word="{{ random_word }}" data-room="{{ roompk }}"></div>
    
    <div class="protips">
    <div class="protips-title">Protips</div>
    <ul>
        <li>Draw the word displayed at the top left</li>
        <li>Doubletap to zoom in/out</li>
        <li>You must be zoomed in to draw</li>
        <li>+1 point for guessing a drawing correctly</li>
        <li>+1 point if your drawing is guessed</li>
        <li>Draw or guess at any point</li>
        <li>View scoreboard by tapping&nbsp<i class="fas fa-caret-down scoreboard-icon"></i>&nbsp<i class="fas fa-users scoreboard-icon"></i></li>
        <li>Highest score after time is up, wins</li>
    </ul>
    </div>

    <center><div class="matchtimer">Match starts in <span class="seconds" id="time">10</span></div></center>
    <!-- <center><div class="roundtimer">Round starts in <span class="seconds" id="time">3</span></div></center> -->

    <div class="player-queue">
    <div class="player-queue-title">Player Queue</div>

    </div>

    {% load static %}
    <script src="{% static 'build/bundle.js' %}"></script>
{% endblock %}